@import url("reset.css");

body {
    border: 0;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

ul,li {
    padding: 15px 10px;
}

#wrapper {
    width: 100%;
    min-width: 800px;
    max-width: 2000px;
    margin: 0 auto;
}

#header {
    float: left;
    height: 10vh;
    width: 100%;
    background: #222A68;
    color: #FFFFFF;
}

h1 {
    margin: 2.5vh 0 0 2.5vh;
    font-size: 5vh;
    font-weight: bold;
}

#header-title {
    float: left;
    width: 30vw;
}

#header-menu {
    font-size: 5vh;
    list-style-type: none;
    margin: 2.5vh 2.5vh 0 0;
    padding: 0;
    text-align: right;
}

#header-menu > li {
    display: inline;
    padding: 0 2.5vh 0 0;
}

.header-menu-img {
    height: 5vh;
    margin: 0;
    padding: 0;
}

#leftcolumn {
    background: #574AE2;
    float: left;
    font-size: 5vh;
    margin-left: -100%;
    overflow: auto;
    height: 90vh;
    width: 15vw;
}

#contentliquid {
    float: left;
    width: 100%;
}

#fullscreenButton {
    background: #FFC0CB;
    float: right;
    width: 10vw;
}

#content {
    background: #EFD9CE;
    margin-left: 15vw;
    text-align: center;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#contenttext {
    font-size: 20vw;
}

#audiobutton {
    margin: 6vh auto 0 auto;
    width: 5vw;
}